::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #000;
}

::-webkit-scrollbar-thumb{
  background: #131313;
  border-radius: 25px;
}

.Post{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #131313;
}

.show-images{
  display: block;
  margin: auto;
  max-width: 70vw;
  align-items: center;
}

.post-title{
  font-size: 800;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-text{
  color: #fff;
  text-align: justify;
  font-size: 4.5vh;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10vh;
  margin-right: 10vh;
}

.content-wrap{
  flex: 1;
}